* {
    font-family: Arial;
}

body {
    background-image: linear-gradient(orange, #DA5552);
}

.row {
    display: flex;
    padding: 25px;
    column-gap: 10%;
}

.column {
    flex: 50%;
    float: center;
    width: 45%;
}

.img_io {
    width: 30%;
    float: center;
    height: 100px;
}

.img_view {
    width: 20%;
    float: left;
    height: 100px;
}

.img_func {
    width: 30%;
    float: center;
    height: 100px;
}

.img_func_box {
    border-radius: 25px;
    background-color: aqua;
    padding: 25px;
    float: center;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px;
}

button {
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;              
  }

button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.func_title {
    font-family: Arial, Helvetica, sans-serif;
    float: center;
}